<tr id="character-<%= @character.id %>">
  <td><%= @character.name %></td>
  <td><%= @character.level %></td>

  <td>
    <span><%= live_redirect "Show", to: Routes.character_show_path(@socket, :show, @character) %></span>
    <span><%= live_patch "Edit", to: Routes.character_index_path(@socket, :edit, @character) %></span>
    <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: @character.id, data: [confirm: "Are you sure?"] %></span>
  </td>
</tr>
