<form phx-change="search">
  <%= text_input :search_field, :query, placeholder: "Search...", autofocus: true, "phx-debounce": "300", class: "px-3 py-2 border rounded-md border-gray-400 my-4 text-gray-500" %>
</form>
